body {
  font-family: "Poppins", sans-serif;
  color: #fff;
  line-height: 1.5;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100vh;
  background: linear-gradient(
    180deg,
    #fd9797 0%,
    #d26767 18.23%,
    #992b2b 54.69%,
    #660f0f 100%
  );
}
