.button {
  cursor: pointer;
  width: 190px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0px;
  font-family: "Bungee", cursive;
  font-size: 28px;
  letter-spacing: 0.2em;
  svg {
    position: absolute;
  }
  span {
    z-index: 99;
  }
  &:hover {
    span {
      color: rgb(206, 206, 206);
    }
  }
}
